
        </div><!-- / .container-vertical -->
    </section>
</main>
<footer>
    <p>
        <a class="socicon socicon--twitter" href="https://twitter.com/authorbrandong"><i class="icon-twitter"></i></a>
        <a class="socicon socicon--medium" href="https://medium.com/@brandongregory1981"><i class="icon-medium"></i></a>
        <a class="socicon socicon--goodreads" href="https://www.goodreads.com/pulpexploder"><i class="icon-goodreads"></i></a>
        <a class="socicon socicon--linkedin" href="https://www.linkedin.com/in/brandon-gregory-5971b8119/"><i class="icon-linkedin"></i></a>
    </p>
    <p>Copyright &copy;2017-2018 Brandon Gregory, all rights reserved</p>
</footer>
<script src="js/scripts.js"></script>
<script async src="http://www.google-analytics.com/analytics.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-58814117-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-58814117-2');
</script>
</body>
</html>