<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>{{ page.title }} | Author Brandon Gregory</title>
<link rel="stylesheet" type="text/css" href="css/styles.css">
<link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i|Source+Sans+Pro:700" rel="stylesheet">
</head>
<body class="{{ page.bodyClass }}">
<header>
    <div class="container-fluid">
        <a class="logo" href="index.html">Author Brandon Gregory</a>
        <a class="js-nav-trigger nav-trigger"><i class="fas fa-bars"></i></a>
        <nav>
            <ul>
                <li><a href="index.html"><i class="icon-user"></i> About</a></li>
                <li><a href="articles.html"><i class="icon-newspaper"></i> Articles</a></li>
                <li><a href="inquiries.html"><i class="icon-help-circle"></i> Inquiries</a></li>
                <li><a href="contact.html"><i class="icon-comment"></i> Contact</a></li>
            </ul>
        </nav>        
    </div><!-- / .container-fluid -->
</header>
<main>
    <section class="title">
            <div class="container-vertical">
                <h1>{{ page.h1 }}</h1>
            </div><!-- / .container-vertical -->
        </section>
        <section class="content">
            <div class="container-vertical">
        