.article-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
}
.article {
    h3 {
        font: 1.5rem/1.5 $font-serif;
    }
}
@media only screen and (min-width: 1200px) {
    .article {
        padding-bottom: 46px;
        position: relative;
        .btn {
            bottom: 0;
            position: absolute;
            width: 100%;
        }
    }
    .article-grid {
        grid-template-columns: 1fr 1fr;
    }
}