@media (min-width: 768px) {
    section.title {
        background-blend-mode: multiply;
        background-color: $red-dark;
        background-image: url(../images/home-bg.jpg);
        background-size: cover;
    }
}
