@media (min-width: 768px) {
    section.title {
        background-blend-mode: multiply;
        background-color: $red-dark;
        background-size: cover;
    }
    .home section.title {
        background-image: url(../images/home-bg.jpg);
    }
    .articles section.title {
        background-image: url(../images/articles-bg.jpg);
    }
}
