// For _reboot.scss
$font-family-base: "Merriweather", Georgia, serif;
$font-size-base: 100%;
$font-weight-base: 400;
$line-height-base: 1.5;
$body-color: #FFF;
$body-bg: #C62828;
$headings-margin-bottom: 1rem;
$paragraph-margin-bottom: 1rem;
$dt-font-weight: 700;
$link-color: #FFE082;
$link-decoration: underline;
$link-hover-color: #ffcd35;
$link-hover-decoration: inherit;
$table-cell-padding: .5rem;
$text-muted: rgba(255,255,255,.8);
$label-margin-bottom: 1rem;

$font-serif: "Merriweather", Georgia, serif;
$font-sans-serif: "Source Sans Pro", sans-serif;

$red-dark: #B71C1C;
$tint-dark: rgba(0,0,0,.2);
$tint-light: rgba(255,255,255,.2);

$header-height: 64px;